.projects-title {
    margin-top: 20px;
    text-align: center;
    color: #61dafb;
    margin-bottom: 50px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}