.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #342828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 基本样式 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #f4f4f4;
  background-color: #282c34;
}

.portfolio-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 头部样式 */
.portfolio-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1e2228;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1500;
}

.portfolio-header h1 {
  margin-bottom: 1rem;
}

.main-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  width: fit-content;
}

.main-nav button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.main-nav button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.main-nav button.active {
  border-bottom: 2px solid white;
  font-weight: bold;
}

/* 主要内容样式 */
.portfolio-content {
  flex: 1;
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  width: 100%;
}

/* 首页样式 - 更新 */
.accueil-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100%;
  width: 100%;
  text-align: left;
  padding: 2rem;
}

.accueil-content h2 {
  margin-bottom: 1rem;
  color: #61dafb;
}

.accueil-content p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #f4f4f4;
}

/* 个人资料部分 */
.profile-section {
  /* display: flex; */
  align-items: center;
  margin-bottom: 3rem;
  left: 0%;
  gap: 2rem;
}

.profile-photo {
  flex-shrink: 0;
}

.photo-placeholder {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #353b45;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #61dafb;
  font-weight: bold;
  border: 3px solid #61dafb;
}

.photo-placeholder-mobile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #353b45;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #61dafb;
  font-weight: bold;
  border: 3px solid #61dafb;
  margin-right: 20px;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info {
  flex-grow: 1;
  left: 0%;
}

.name {
  color: #61dafb;
  /* margin-bottom: 0.5rem; */
  font-weight: bold;
  text-align: left;
}

.profile-info .title {
  color: #f4f4f4;
  /* font-size: 1.2rem; */
  /* margin-bottom: 1rem; */
  text-align: left;
  font-weight: bold;
}

.profile-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.social-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

/* 关于部分 */
.intro-section {
  margin-bottom: 3rem;
  padding: 1.5rem;
  background-color: #353b45;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.intro-section h3 {
  color: #61dafb;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.intro-section p {
  color: #f4f4f4;
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* 技能部分 */
.skills-section {
  margin-bottom: 3rem;
}

.skills-section h3 {
  color: #61dafb;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.profile-section,
.more-details-section {
  display: flex;
}

.profile-section {
  position: fixed;
  top: 0px;
  /* 与导航栏高度相同，确保不被导航栏遮挡 */
  padding-left: 5.5%;
  height: calc(100vh - 60px);
  /* 减去导航栏高度 */
  overflow-y: auto;
  /* 内容过多时允许滚动 */
  width: 30%;
  /* flex-direction: column; */
  left: 0%;
  text-align: center;
  /* background-color: #1e2228ef; */
}

.more-details-section {
  margin-left: 30%;
  width: 70%;
  flex-direction: column;
  right: 0%;
  left: 30%;
}

.skill-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.skill-card {
  background-color: #1e2228;
  color: #61dafb;
  padding: 0.5rem 1rem;
  text-align: center;
  /* padding: 0.5rem 0.5rem; */
  border-radius: 4px;
  font-weight: bold;
  border: 1px solid #61dafb;
}

.skill-icon {
  width: 25px;
  height: 25px;
}

.company-icon {
  width: 20px;
  height: 20px;
}

/* 特色项目部分 */
.featured-projects {
  margin-bottom: 2rem;
}

.featured-projects h3 {
  color: #61dafb;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}

/* 项目样式 */
.projets-content {
  padding: 1rem;
}

.project-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.project-tabs button {
  background-color: #1e2228;
  border: none;
  border-radius: 4px;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.project-tabs button:hover {
  background-color: #353b45;
}

.project-tabs button.active {
  background-color: #61dafb;
  color: #282c34;
}

.project-section {
  margin-top: 1rem;
}

.project-section h3 {
  color: #61dafb;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* 项目卡片样式 */
.project-card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  height: 320px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.project-preview {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: #eeeeef;
}

.project-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 5px;
}

.project-info {
  padding: 15px;
}

.project-title {
  color: #282c34;
  margin: 0 0px 15px 0;
  font-size: 15px;
  font-weight: 600;
}

.project-organization {
  margin: 0;
  color: #8c8c8c;
  font-size: 14px;
}


/* 联系表单样式 */
.contact-content {
  max-width: 600px;
  margin: 0 auto;
}

.contact-content h2 {
  color: #61dafb;
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact-form {
  background-color: #353b45;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #f4f4f4;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #1e2228;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #1e2228;
  color: #f4f4f4;
}

.contact-form button {
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  color: #282c34;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #4fa8d1;
}

/* 响应式设计更新 */
@media (max-width: 100%) {
  .main-nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  .project-tabs {
    flex-direction: column;
  }

  .portfolio-content {
    padding: 1rem;
  }

  .skills-container {
    justify-content: center;
  }
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  /* 或者与您的设计匹配的颜色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 添加阴影效果，使导航栏更加明显 */
}

.language-selector {
  /* z-index: 1000; */
  position: fixed;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: right;
  gap: 0.5rem;
  width: fit-content;
}

.lang-btn {
  background: none;
  border: none;
  color: #f4f4f4;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.lang-btn:hover {
  color: #61dafb;
}

.lang-icon {
  width: 20px;
  height: 20px;
}

.lang-btn {
  display: flex;
  align-items: center;
  gap: 4px;
}


/* 为了防止内容被固定导航栏遮挡，需要给主内容区域添加上边距 */
.main-content {
  margin-top: 60px;
  /* 根据您导航栏的高度调整此值 */
}

.title-section-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.title-section-separator .separator {
  flex: 1;
  height: 1px;
  background-color: #1c677c;
  margin: 0 1.5rem;
}

.title-section-separator-title {
  color: #61dafb;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  padding: 20px;
  color: #fff;
  text-align: center;
  border-radius: 12px;
}

.language-selector-circle {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-circle-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-circle-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

.lang-dropdown {
  position: fixed;
  right: 20px;
  top: 80px;
  /* Positioned below header height */
  width: fit-content;
  height: auto;
  /* Allow height to grow based on content */
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Add spacing between language options */
  justify-content: flex-start;
  align-items: center;
  background-color: #1e2228;
  /* Add background */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add subtle shadow */
  border-radius: 8px;
  /* Rounded corners for dropdown */
}

.lang-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.lang-dropdown-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

.lang-dropdown-text {
  color: white;
}

.projects-title,
.contact-title {
  margin-top: 20px;
  text-align: center;
  color: #61dafb;
  margin-bottom: 50px;
}


.contact-container {
  width: 100%;
  height: 100%;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.contact-item-email,
.contact-item-location {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.contact-item-email {
  color: #ccc8c8;
  text-decoration: none;
  font-size: 1rem;
}

.contact-item-email:hover {
  text-decoration: underline;
}

.cv-download-link {
  /* position: fixed; */
  /* right: 20px;
  top: 20px; */
  display: flex;
  justify-content: left;
  /* gap: 0.5rem; */
  width: fit-content;
  /* padding: 0 10px; */

  /* display: flex; */
  /* align-items: center; */
  /* gap: 5px; */

}

.cv-download-link img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  /* margin-top: 25px; */
}

.more-projects-button-previous,
.more-projects-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}


.more-projects-button-previous {
  left: 0;
}

.more-projects-button-next {
  right: 0;
}

.more-projects-button-inner-circle-line-up,
.more-projects-button-inner-circle-line-bottom {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35%;
  width: 1px;
  background-color: #61dafb;
  margin: 10px 0;
}

.more-projects-button-inner-circle-line-up {
  top: 20%;
}

.more-projects-button-inner-circle-line-bottom {
  top: 75%;
}